<!DOCTYPE html>
<html>
   
<body style="background-color:powderblue;">

<h1>charitha</h1>
<button (click)=funct()>get_Name</button>
<button (click)="funct2('modi')">Name2</button>
<button (click)="funct2(name)">Name</button>
<button (click)="myevent('event should be printed in the console')">click</button>
<p>Ramannagari</p>

<h2>{{name}}</h2>
<h3>{{getName()}}</h3>
<h3>{{Obj.age}}</h3>
<h4>{{arr}}</h4>
<h4>{{arr[1]}}</h4>
<h4>{{arr.length}}</h4>
<h4>{{siteUrl}}</h4>
<h4>{{10+5-3}}</h4>

</body>
</html>
