/**
 * icons.css
 *
 * Icons should convey in a simple and meaningful way the concept of the function
 * they represent. When designing new icons be sure to remove any complexities 
 * and follow the linear and lightweight appearance of the icon set.
 */
 
.icon {
  font-family: 'bitovi';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
}